:root {
  --bg-dark: hsl(240 9% 13%);
  --shadow: hsl(240 9% 5%);
  --text: hsl(240 10% 94%);
  --titles: hsl(35 55% 90%);
  --bg-light: hsl(240 9% 26%);
  --text-muted: hsl(240 10% 80%);
  --primary: hsl(224 38% 55%);
  --secondary: hsl(224 38% 70%);
  --danger: hsl(0 75% 60%);
  --warning: hsl(23 100% 63%);
  --success: hsl(98 42% 32%);
}

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-dark);
  font-size: 28px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  color: var(--text);
}

h1, h2, h3, h4 {
  color: hsl(148 53% 85%);
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-shadow: 4px 4px 8px var(--shadow);
  backdrop-filter: blur(4px) brightness(90%);
  padding: 8px 24px;
  border-top: 1px solid white;
  border-bottom: 1px solid var(--shadow);
  border-radius: 50px;
  box-shadow: 0px 4px 8px var(--shadow);
}

h1:hover {
  backdrop-filter: blur(2px);
  box-shadow: 0px 2px 4px var(--shadow);
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

em {
  color: var(--danger);
}

a:hover {
  color: var(--warning);
}

.column,
.row {
  display: flex;
}

.column {
  flex-direction: column;
  justify-content: center;
}

#viewport {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#body {
  display: flex;
}

#hero {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 34vw;
  background-color: transparent;
  background-image: url("static/images/resort.webp");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 8px 0px 12px var(--shadow);
  border-right: 2px solid var(--shadow);
  padding: 25vh 1em;
}

#content {
  z-index: 1;
  width: 66vw;
  min-height: 100vh;
  padding: 2em;
}

.blurb p + p {
  margin-top: 12px;
}

#form {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  p {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  margin: 32px 0;
}

label {
  flex-grow: 1;
}

input {
  border: 2px solid var(--primary);
  border-radius: 4px;
  background-color: var(--bg-light);
  height: 1.5em;
  padding: 4px;
  box-shadow: 4px 8px 8px var(--shadow);
}

input:valid {
  border: 2px solid var(--success);
}

input:invalid {
  border: 2px solid var(--danger);
}

input:focus {
  border: 2px solid var(--primary);
  outline-style: none;
}

button {
  padding: 8px 24px;
  background-color: var(--success);
  border: 2px solid var(--secondary);
  border-radius: 24px;
  box-shadow: 8px 8px 8px var(--shadow);
  margin: 24px 0;
}

button:hover {
  background-color: var(--danger);
}

.small {
  font-size: 0.75em;
}

#footnote {
  display: flex;
  margin-top: auto;
  align-self: flex-end;
  text-align: left;
  font-size: 0.50em;
}

#footer {
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  border-top: 2px solid var(--shadow);
}

.license, .credit, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.license {
  grid-column: 1;
}

.credit {
  grid-column: 2;
}

.contact {
  grid-column: 3;
}

.license a,
.icon {
  margin: 1rem;
  height: 2rem;
  width: auto;
}

.icon {
  height: 24px;
  width: auto;
  color: var(--danger);
}

.socials {
  display: flex;
  align-items: center;
}
